[Desktop Entry]
Type=Application
Name=Kitchen Search
Comment=Emoji kitchen picker
Exec=__EXEC_CMD__
Icon=__INSTALL_DIR__/packaging/kitchensearch-icon.png
Terminal=false
Categories=Utility;
Keywords=emoji;search;picker;
StartupNotify=false
StartupWMClass=kitchensearch
